mirror:
  url: http://{{ hostvars['jumpbox']['ansible_ssh_host'] }}
  directory: /var/www/html
auth:
  dci_login: {{ dci_login }}
  dci_password: {{ dci_password }}
remoteci: test-ovb-0
undercloud_ip: 46.231.133.190
topic: OSP8
hooks:
  provisioning:
    - cp -v /var/www/html/$DCI_JOB_ID.repo /var/www/html/RHOS-DCI.repo
    - /usr/local/bin/prepare-tripleo-helper-config.sh
    - source /var/lib/dci-agent/openrc.sh && chainsaw-ovb --config-file /var/lib/dci-agent/tripleo-helper.yaml provisioning
  undercloud:
    - source /var/lib/dci-agent/openrc.sh && chainsaw-ovb --config-file /var/lib/dci-agent/tripleo-helper.yaml undercloud
  overcloud:
    - source /var/lib/dci-agent/openrc.sh && chainsaw-ovb --config-file /var/lib/dci-agent/tripleo-helper.yaml overcloud
