#!/bin/sh

export OS_AUTH_URL="{{ lookup('env', 'OS_AUTH_URL') }}"
export OS_TENANT_ID="{{ lookup('env', 'OS_TENANT_ID') }}"
export OS_TENANT_NAME="{{ lookup('env', 'OS_TENANT_NAME') }}"
export OS_PROJECT_NAME="{{ lookup('env', 'OS_PROJECT_NAME') }}"
export OS_USERNAME="{{ lookup('env', 'OS_USERNAME') }}"
export OS_PASSWORD="{{ lookup('env', 'OS_PASSWORD') }}"
export OS_REGION_NAME="{{ lookup('env', 'OS_REGION_NAME') }}"
if [ -z "$OS_REGION_NAME" ]; then unset OS_REGION_NAME; fi