#!/bin/sh
set -v
run () {
    ssh -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o KbdInteractiveAuthentication=no -o PasswordAuthentication=no -tt -i {{ hostvars["jumpbox"]["ansible_ssh_private_key_file"] }} centos@{{ hostvars["jumpbox"]["ansible_ssh_host"] }} $*
}

run "sudo journalctl -ef -u dci-agent& sudo systemctl start dci-agent"
sleep 2
run "sudo systemctl status dci-agent" |exec grep 'Final status: success'
